<?xml version="1.0"?>
<config>
    <!--MODULE-->
    <modules>
        <Mini_Project>
            <version>0.2.0</version>
        </Mini_Project>
    </modules>
    <!--END MODULE-->
    <!--FRONTEND-->
    <frontend>
        <routers>
            <checkouts>
                <args>
                    <modules>
                        <mini_project before="Mage_Checkout">Mini_Project</mini_project>
                    </modules>
                </args>
            </checkouts>
        </routers>
        <layout> 
            <updates> 
                <project> 
                    <file>test.xml</file> 
                </project> 
            </updates> 
        </layout> 
    </frontend>
    <!--END FRONTEND-->
    <!--GLOBAL-->
    <global>
        <!--DECLARES PROJECT RESOURCE MODEL-->
            <models>
                <project> 
                    <class>Mini_Project_Model</class> 
                    <resourceModel>project_resource</resourceModel> 
                </project> 
                <project_resource> 
                    <class>Mini_Project_Model_Resource</class> 
                    <entities> 
                        <distributor> 
                            <table>distributor</table> 
                        </distributor> 
                    </entities> 
                </project_resource> 
            </models>
        <!--END PROJECT RESOURCE MODEL-->
            <!--RESOURCE-->
        <resources> 
            <project_setup> 
                <setup> 
                    <module>Mini_Project</module> 
                </setup> 
                <connection> 
                    <use>core_setup</use> 
                </connection> 
            </project_setup>

            <add_product_attribute>
                <setup>
                    <module>Mini_Project</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </add_product_attribute>
             
            <project_write> 
                <connection> 
                    <use>core_write</use> 
                </connection> 
            </project_write> 
            <project_read> 
                <connection> 
                    <use>core_read</use> 
                </connection> 
            </project_read> 

        </resources> 
            <!--END RESOURCE-->
            <!--BLOCKS-->
            <blocks>
                <project>
                    <class>Mini_Project_Block</class>
                </project>
            </blocks>
            <blocks>
                <mini_project>
                    <class>Mini_Project_Block</class>
                </mini_project>
            </blocks>
            <!--END BLOCKS-->
            <!--DECLARE ADMIN HELPER-->
            <helpers>
            <mini_project>
                <class>Mini_Project_Helper</class>
            </mini_project>
        </helpers>
            <!--END ADMIN HELPER-->
            <!--HELPER-->
            <helpers>
                <project>
                    <class>Mini_Project_Helper</class>
                </project>
            </helpers>
            <!--END HELPER-->
    </global>
    <!--END GLOBAL-->
        <!--ADMIN-->
    <admin>
        <routers>
            <project>
                <use>admin</use>
                <args>
                    <module>Mini_Project</module>
                    <frontName>project</frontName>
                </args>
            </project>
        </routers>
    </admin>
    <!--END ADMIN-->
    <!--ADMIN-->
    <adminhtml>
        <menu>
            <project_adminform translate="title" module="project">
                <title>Distributors</title>
                <sort_order>10</sort_order>
                <children>
                    <index translate="title" module="mini_project">
                        <title>Distributor List</title>
                        <sort_order>1</sort_order>
                        <action>project/adminhtml_distributor</action>
                    </index>
                    <list translate="title" module="mini_project">
                        <title>Manage Distributor</title>
                        <sort_order>2</sort_order>
                        <action>project/adminhtml_event</action>
                    </list>
                </children>
            </project_adminform>
        </menu>
        <layout>
            <updates>
                <project>
                    <file>distributor.xml</file>
                </project>
            </updates>
        </layout>
    </adminhtml>
    <!--END ADMIN-->

</config>