<?xml version="1.0"?>
<config>
    <!--MODULE-->
    <modules>
        <Mini_Project>
            <version>0.1.0</version>
        </Mini_Project>
    </modules>
    <!--END MODULE-->
    <!--GLOBALS-->
    <global>
        <!--MODEL RESOURCE-->
            <models>
                <mini_project>
                        <class>Mini_Project_Model</class>
                        <resourceModel>mini_project_resource</resourceModel>
                </mini_project>
            </models>
            <resources>
                <mini_project_setup>
                    <setup>
                        <module>Mini_Project</module>
                    </setup>
                        </mini_project_setup>
                    </resources>
        <!--END MODEL RESOURCE-->
        <!--BLOCKS-->
        <blocks>
            <mini_project>
                    <class>Mini_Project_Block</class>
            </mini_project>
        </blocks>
        <!--END BLOCKS-->
        <!--HELPERS-->
        <helpers>
                <mini_project>
                        <class>Mini_Project_Helper</class>
            </mini_project>
        </helpers>
        <!--END HELPERS-->
    </global>
    <!--END GLOBALS-->
    <!--ADMIN-->
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mini_project before="Mage_Adminhtml">Mini_Project_Adminhtml</mini_project>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!--END ADMIN-->
</config>